<h1>Fakturační systém API</h1>

<h2>Získání přístupu k API</h2>
<ol>
	<li>V menu FS vyberte položku <a n:href="user:default">Můj účet</a></li>
	<li>Zkopírujte si API klíč, který patří přihlášenému uživateli. (Případně je možné klíč znovu vygenerovat)</li>
	<li>Získejte přístupový token (Access token) pomocí GET požadavku na adresu 
		<pre>api/getAccessToken/?userName=<b>uzivatel</b>&amp;apiKey=<b>api_klic</b></pre>
		Odpověď bude ve tvaru:
		<pre>
		{
			"result": {
				"status": "success",
				"message": "Authentication successfull. Access token sent."
			},
			"accessToken": "86028289071a0901d882501305696795dd1ee057235e15f680a20dceb40366f5",
			"tokenExpiration": 3000
		}
		</pre>
	</li>
	<li>Získaný token má platnost {ApiBasePresenter::$TOKEN_EXPIRATION_TIME} sekund. Pomocí něho je potřeba prokázat totožnost při každém volání funkce API.</li>
	<li>Odpovědi od API je možné získat ve dvou formátech:
		<ul>
			<li>JSON (výchozí)</li>
			<li>XML (k dotazu přidejte GET parametr <code>output=xml</code>)</li>
		</ul>
	</li>
	<li>Každá odpověď od API obsahuje v poli <code>result</code> informace o stavu (jestli byl dotaz úspěšný nebo ne) a případně vysvětlující zprávu.
		V poli <code>data</code> jsou pak samotná data, která vrátila příslušná funkce.
	</li>
</ol>	
	<h2>Dostupné metody</h2>
	<ol>
		<li>
			<h3><code>hello(myName)</code></h3>
			<p>Testovací metoda, která přijímá jméno a vrací pozdrav Hello &lt;jméno&gt;.</p>
			<strong>Dotaz</strong>
			<pre>api/hello?myName=Johny&amp;accessToken=86028289071a0901d882501305696795dd1ee057235e15f680a20dceb40366f5&amp;output=xml</pre>
			<strong>Odpověď</strong>
			<pre>
			&ltresponse&gt;
				&lt;result&gt;
					&lt;status&gt;success&lt;/status&gt;
					&lt;message&gt;Authorization successfull. Access token valid or expired.&lt;/message&gt;
				&lt;/result&gt;
				&lt;data&gt;Hello Johny !&lt;/data&gt;
			&lt;/response&gt;
			</pre>
		</li>
		
		<li>
			<h3><code>getInvoice(id)</code></h3>
			<p>Metoda vrací kompletní sadu informací o faktuře s požadovaným ID</p>
			<strong>Dotaz</strong>
			<pre>api/getinvoice?invoiceId=565&amp;accessToken=86028289071a0901d882501305696795dd1ee057235e15f680a20dceb40366f5</pre>
			<strong>Odpověď</strong>
			<pre>
			{
				"result": {
					"status": "success",
					"message": "Authorization successfull. Access token valid or expired."
				},
				"data": {
					"id": 565,
					"number": 44,
					"draft": "0",
					"variableSymbol": "20120044",
					"constantSymbol": "0",
					"specificSymbol": "0",
					"dateOfIssuance": {
						"date": "2012-06-27 00:00:00",
						"timezone_type": 3,
						"timezone": "Europe/Prague"
					},
					"dateOfVatRevenueRecognition": {
						"date": "2012-06-27 00:00:00",
						"timezone_type": 3,
						"timezone": "Europe/Prague"
					},
					"expirationDate": 14,
					"series": "2012",
					"title": "Faktura - daňový doklad",
					"supplierName": "Partner mb, s.r.o.",
					"supplierStreet": "Na Domovině",
					"supplierHouseNumber": "690",
					"supplierCity": "Praha 4 - Libuš",
					"supplierZip": "142 00",
					"supplierCountry": null,
					"supplierIn": "60489626",
					"supplierTin": "CZ60489626",
					"supplierAccountNumber": "76165389/0800",
					"supplierSwift": null,
					"customerIn": "23422234",
					"customerCountry": null,
					"customerZip": "34212",
					"customerTin": "0",
					"customerHouseNumber": "19",
					"customerAccountNumber": "2345678987654/0100",
					"customerName": "EUROVIA CS a.s.\r\nInternational",
					"customerStreet": "Pražská",
					"customerCity": "Roudnice u Prahy",
					"customerMaillingName": "EUROVIA\r\nZávod Kamenolomy",
					"customerMaillingStreet": "Hradecká",
					"customerMaillingHouseNumber": "9",
					"customerMaillingZip": "24312",
					"customerMaillingCity": "Nová Včelnice",
					"customerMaillingCountry": null,
					"customerId": 24,
					"customerEmail": null,
					"supplierTaxPayer": "1",
					"notes": "Ujišťujeme odběratele, že pro stanovené výrobky bylo podle §13 zák. 22/97 Sb. vystaveno prohlášení o shodě. Společnost PARTNERmb má uzavřenou smlouvu o sdruženém plnění se společností EKO-KOM, číslo EK-F00025707.",
					"issued": {
						"date": "2012-06-27 00:00:00",
						"timezone_type": 3,
						"timezone": "Europe/Prague"
					},
					"paid": null,
					"alreadyPaid": 0,
					"auto": "0",
					"frequency": null,
					"nextDate": null,
					"generated": "0",
					"productsMissing": "0",
					"totalDiscount": 0,
					"lastUpdated": {
						"date": "2012-06-27 09:50:44",
						"timezone_type": 3,
						"timezone": "Europe/Prague"
					},
					"logo": 15,
					"stamp": 12
				}
			}
			</pre>
		</li>
		
	</ol>
